<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>847556775888-o1u33u0a061rtj3oeggormgqi2fiepgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847556775888-o1u33u0a061rtj3oeggormgqi2fiepgr</string>
	<key>API_KEY</key>
	<string>AIzaSyArcr39krqnA3AS_aNRasQX8a0J2-QM1kk</string>
	<key>GCM_SENDER_ID</key>
	<string>847556775888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.ARKit.Firebase</string>
	<key>PROJECT_ID</key>
	<string>arkit-2248b</string>
	<key>STORAGE_BUCKET</key>
	<string>arkit-2248b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847556775888:ios:656d16ae01d990a1</string>
	<key>DATABASE_URL</key>
	<string>https://arkit-2248b.firebaseio.com</string>
</dict>
</plist>